<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Text">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{{ title }} — The CodeClan Library{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
    {% block header %}
        <h1>The CodeClan Library</h1>
        {% block subheader %}
        <h2>{{ title }}</h2>
        {% endblock %}
    {% endblock %}
    </header>
{% block content %}
<p>Go to <a href="{{ url_for('books.books_list') }}">all books</a></p>
{% endblock %}
</body>
</html>