{% macro checkoutin_button(book, index, extraclass='') %}
<form class="checkoutin {{extraclass}}" action="{{ url_for('books.books_checkoutin', accession_id=book.accession_id) }}"
        method="POST">
    {% if book.checked_out %}
    <input type="hidden" name="direction" value="in">
    <input type="hidden" name="next_page" value="{{ request.url_rule.endpoint }}">
    <button type="submit">📕 Check back in</button>
    {% else %}
    <input type="hidden" name="direction" value="out">
    <input type="hidden" name="next_page" value="{{ request.url_rule.endpoint }}">
    <button type="submit">&#x1F4D6; Check out</button>
    {% endif %}
</form>
{% endmacro %}
{% macro delete_button(book, index, extraclass='') %}
<form class="delete {{extraclass}}" action="{{ url_for('books.books_delete', accession_id=book.accession_id) }}"
        method="POST">
    <button type="submit">&#x1F5D1;&#xFE0F; Delete Book</button>
</form>
{% endmacro %}